html { 
  background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  text-align: center;
  padding:8%;
  font-size: 20px;
  color: black;
  height:100%;

}

.forecast{
  background-color: white;
  border-radius: 25px 25px 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg');

}

.form{
  margin-bottom:2%;
}
.error{
  background-color:rgb(178,34,34,0.8);
  border-radius: 25px;
}

